@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Lobster+Two&family=Lora&display=swap");

.alumni-card {
  background: transparent;
  border: 2px solid rgb(255 255 255);
  backdrop-filter: blur(9px);
}

.alumni-btn {
  font-size: 25px;
  margin-top: 15px;
  padding: 10px 30px;
}

.alumni-title {
  font-family: "Creepster", cursive, "Courier New", Courier, monospace;
  font-size: 40px;
  word-spacing: 7px;
  letter-spacing: 3px;
}

.alumni-subtitle {
  color: #29cafd;
  font-family: "Lobster Two", cursive, "Courier New", Courier, monospace;
  font-size: 24px;
  letter-spacing: 2px;
}


.social-handle{
    text-decoration: none;
    color: black;
    font-size: 18px;
}