.banner-img {
  height: 500px;
  margin-right: 50px;
}

.hero-section {
  text-align: center;
  padding: 70px;
  margin: auto;
  margin-top: 50px;
  border-radius: 42px;
  background-image: url(../Image/bg.png);
  width: 92%;
}

.hero-title {
  font-size: 70px;
  color: black;
  font-weight: 600;
  font-family: auto;
  margin-top: 81px;
}
.hero-subtitle{
  color: black;
}
.home-btn {
  font-size: 25px;
  margin-top: 15px;
  padding: 10px 30px;
  margin-bottom: 20px;
}


/* News feed css */

.news-heading {
  font-size: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: 600;
  color: transparent;
  background-image: linear-gradient(
    to right,
    #553c9a,
    #ee4b2b,
    #00c2cb,
    #ff7f50,
    #553c9a
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  background-position: -200%;
  transition: all ease-in-out 2s;
  cursor: pointer;
}
.news-heading:hover {
  background-position: 200%;
}

.news-card{
  background: transparent;
  backdrop-filter: blur(7px);
  border: 3px solid;
  border-radius: 34px;
  margin-bottom: 50px;
}

.img-fluid{
  width: 400px;
}

@media screen and (max-width: 1300px) {
  .banner-img {
    height: 300px;
  }

  .hero-section{
    padding: 30px;
  }
  
  .hero-title {
    font-size: 40px;
  }
  .home-btn {
    font-size: 20px;
  }

  .news-heading {
    font-size: 80px;
  }
}



@media screen and (max-width: 767px) {
  .banner {
    display: none;
  }
  .hero-title{
    margin-top: 30px;
    margin-inline: 50px;
  }
  .header{
    margin: 100px;
  }
  .news-heading {
    font-size: 50px;
  }
}
@media screen and (max-width: 650px) {
  .hero-title{
    margin-top: 30px;
    /* margin-inline: 50px; */
  }
  .header{
     margin: 0;
  }
}

@media screen and (max-width: 410px) {
    .hero-title{
      font-size: 30px;
    }
}
