body{
  background-image: url(https://t4.ftcdn.net/jpg/02/14/92/49/360_F_214924958_ROGUGcOFy0A1aXfnKw4XKNgOaEMO6YWO.jpg);
}

.form-card{
  background: transparent;
  border: 2px solid white;
    backdrop-filter: blur(6px);
    /* border-radius: 30px */
}